In [1980]:
import pandas as pd
import numpy as np

df1=pd.read_csv('tmdb_5000_credits.csv.zip')
df2=pd.read_csv('tmdb_5000_movies.csv.zip')

In [1981]:
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [1982]:
df1.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [1983]:
df=df1.merge(df2,on=['title'])

In [1984]:
df.isnull().sum()

movie_id                   0
title                      0
cast                       0
crew                       0
budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
vote_average               0
vote_count                 0
dtype: int64

In [1985]:
df.duplicated().sum()

0

In [1986]:
df.drop(columns=['movie_id','budget','homepage','id','tagline','production_countries','release_date','spoken_languages','status','vote_count'],inplace=True)

In [1987]:
df.isnull().sum()

title                   0
cast                    0
crew                    0
genres                  0
keywords                0
original_language       0
original_title          0
overview                3
popularity              0
production_companies    0
revenue                 0
runtime                 2
vote_average            0
dtype: int64

In [1988]:
df.columns

Index(['title', 'cast', 'crew', 'genres', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'revenue', 'runtime', 'vote_average'],
      dtype='object')

In [1989]:
df.head(1)

,title,cast,crew,genres,keywords,original_language,original_title,overview,popularity,production_companies,revenue,runtime,vote_average
0,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2787965087,162.0,7.2

In [1990]:
df.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [1991]:
import ast

def extract(text):
    text = ast.literal_eval(text)
    list=[]
    for i in range(len(text)):
        list.append(text[i]["name"])
    return list

In [1992]:
[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [1993]:
df.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [1994]:
df['genres']=df['genres'].apply(extract)
df['keywords']=df['keywords'].apply(extract)

In [1995]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
df['original_language'] = label_encoder.fit_transform(df['original_language'])

In [1996]:
df['original_language'].unique()

array([ 7, 17, 10, 36,  8, 18,  5, 12, 27, 31,  2, 16, 21, 30, 29, 32,  4,
       35, 13,  3, 25, 15, 33, 20,  0, 23, 11,  1, 34, 19, 14, 26,  9, 22,
       28, 24,  6])

In [1997]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 4809 non-null   object
 1   cast                  4809 non-null   object
 2   crew                  4809 non-null   object
 3   genres                4809 non-null   object
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   int64
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  revenue               4809 non-null   int64
 11  runtime               4807 non-null   float64
 12  vote_average          4809 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 488.5+ KB

In [1998]:
df.head(1)

,title,cast,crew,genres,keywords,original_language,original_title,overview,popularity,production_companies,revenue,runtime,vote_average
0,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",7,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2787965087,162.0,7.2

In [1999]:
df.sample().keywords

474    [nurse, sea, beach, boy, pregnant, blood, woma...
Name: keywords, dtype: object

In [2000]:
df.drop(columns=['original_title'],inplace=True)

In [2001]:
df.sample()

,title,cast,crew,genres,keywords,original_language,overview,popularity,production_companies,revenue,runtime,vote_average
2405,Aliens,"[{""cast_id"": 21, ""character"": ""Lieutenant Elle...","[{""credit_id"": ""52fe4269c3a36847f801c985"", ""de...","[Horror, Action, Thriller, Science Fiction]","[android, extraterrestrial technology, space m...",7,When Ripley's lifepod is found by a salvage cr...,67.66094,"[{""name"": ""Twentieth Century Fox Film Corporat...",183316455,137.0,7.7

In [2002]:
df.sample().production_companies.values

array(['[{"name": "Paramount Pictures", "id": 4}]'], dtype=object)

In [2003]:
df['production_companies']=df['production_companies'].apply(extract)

In [2004]:
df.sample()

,title,cast,crew,genres,keywords,original_language,overview,popularity,production_companies,revenue,runtime,vote_average
4460,Welcome to the Dollhouse,"[{""cast_id"": 1, ""character"": ""Dawn Wiener"", ""c...","[{""credit_id"": ""52fe44419251416c7502e401"", ""de...","[Comedy, Drama]","[parents kids relationship, sister sister rela...",7,An unattractive 7th grader struggles to cope w...,5.870319,[],0,88.0,6.9

In [2005]:
new_order = ['title','genres', 'keywords', 'overview', 'cast','crew','production_companies','popularity','revenue','runtime','vote_average','original_language']
df=df[new_order]

In [2006]:
df.shape

(4809, 12)

In [2007]:
df.sample().cast.values

array(['[{"cast_id": 3, "character": "Emma", "credit_id": "52fe4caf9251416c7512245f", "gender": 0, "id": 6979, "name": "Romola Garai", "order": 0}, {"cast_id": 4, "character": "Mr. Woodhouse", "credit_id": "52fe4caf9251416c75122463", "gender": 2, "id": 5658, "name": "Michael Gambon", "order": 1}, {"cast_id": 5, "character": "Mr. Knightley", "credit_id": "52fe4caf9251416c75122467", "gender": 2, "id": 9012, "name": "Jonny Lee Miller", "order": 2}, {"cast_id": 6, "character": "Harriet Smith", "credit_id": "52fe4caf9251416c7512246b", "gender": 1, "id": 141534, "name": "Louise Dylan", "order": 3}, {"cast_id": 7, "character": "Mr. Elton", "credit_id": "52fe4caf9251416c7512246f", "gender": 2, "id": 80154, "name": "Blake Ritson", "order": 4}, {"cast_id": 8, "character": "Isabella Knightley", "credit_id": "52fe4caf9251416c75122473", "gender": 1, "id": 221090, "name": "Poppy Miller", "order": 5}, {"cast_id": 9, "character": "Henry Knightley", "credit_id": "52fe4caf9251416c75122477", "gender": 2, "id": 24613, "name": "Jamie Glover", "order": 6}, {"cast_id": 10, "character": "Anne Weston", "credit_id": "52fe4caf9251416c7512247b", "gender": 1, "id": 57449, "name": "Jodhi May", "order": 7}, {"cast_id": 11, "character": "Mr. Weston", "credit_id": "52fe4caf9251416c7512247f", "gender": 2, "id": 42663, "name": "Robert Bathurst", "order": 8}, {"cast_id": 12, "character": "Miss Bates", "credit_id": "52fe4caf9251416c75122483", "gender": 1, "id": 120931, "name": "Tamsin Greig", "order": 9}, {"cast_id": 13, "character": "Frank Churchill", "credit_id": "570c72af9251414492000126", "gender": 2, "id": 17283, "name": "Rupert Evans", "order": 10}, {"cast_id": 14, "character": "Mrs. Woodhouse (1 episode, 2009)", "credit_id": "570c72c3c3a3684bfe001118", "gender": 0, "id": 1220107, "name": "Annabel Mullion", "order": 11}, {"cast_id": 15, "character": "Jane Fairfax", "credit_id": "570c72d4c3a3684c060012b9", "gender": 1, "id": 557395, "name": "Laura Pyper", "order": 12}, {"cast_id": 16, "character": "Augusta Elton", "credit_id": "570c72eac3a3684c15001220", "gender": 0, "id": 47625, "name": "Christina Cole", "order": 13}, {"cast_id": 17, "character": "Miss Campbell", "credit_id": "570c72fdc3a3684c0a001183", "gender": 0, "id": 1495446, "name": "Amy Loughton", "order": 14}, {"cast_id": 18, "character": "Gypsy Boy", "credit_id": "570c730ac3a3684c1500122a", "gender": 0, "id": 1416326, "name": "Nathaniel Gleed", "order": 15}, {"cast_id": 19, "character": "Mrs. Bates", "credit_id": "571c0fdbc3a3686524002445", "gender": 0, "id": 1222342, "name": "Valerie Lilley", "order": 16}, {"cast_id": 20, "character": "John Knightley", "credit_id": "571c0fdc925141115f006846", "gender": 0, "id": 175400, "name": "Dan Fredenburgh", "order": 17}, {"cast_id": 21, "character": "James Knightley", "credit_id": "571c0fdc92514135ff002733", "gender": 0, "id": 1494840, "name": "Joshua Jones", "order": 18}, {"cast_id": 22, "character": "Robert Martin", "credit_id": "571c0fdcc3a36864e00038c7", "gender": 0, "id": 109322, "name": "Jefferson Hall", "order": 19}, {"cast_id": 23, "character": "Mrs. Cole", "credit_id": "571c0fdd92514121a00044d2", "gender": 0, "id": 1320744, "name": "Liza Sadovy", "order": 20}, {"cast_id": 24, "character": "Miss Martin 1", "credit_id": "571c0fddc3a36824a3002802", "gender": 1, "id": 1504465, "name": "Eileen O\'Higgins", "order": 21}, {"cast_id": 25, "character": "Miss Martin 2", "credit_id": "571c0fdd9251414e9700605c", "gender": 0, "id": 1609919, "name": "Sarah Ovens", "order": 22}, {"cast_id": 26, "character": "Young Emma (aged 3)", "credit_id": "571c0fddc3a36824a3002805", "gender": 0, "id": 1609920, "name": "Lyla Barrett-Rye", "order": 23}, {"cast_id": 27, "character": "Young Frank Churchill", "credit_id": "571c0fdec3a36864e00038ca", "gender": 0, "id": 1609921, "name": "Teddy Bunn", "order": 24}, {"cast_id": 28, "character": "Mrs. Churchill", "credit_id": "571c0fdec3a368525f006f5b", "gender": 0, "id": 1417041, "name": "Susie Trayling", "order": 25}, {"cast_id": 29, "character": "Young Jane Fairfax", "credit_id": "571c0fde925141115f00684a", "gender": 0, "id": 1609922, "name": "Sarah Gower", "order": 26}, {"cast_id": 30, "character": "Young Jane Fairfax", "credit_id": "571c0fdfc3a368441e000fa4", "gender": 0, "id": 1609923, "name": "Claire Gower", "order": 27}]'],
      dtype=object)

In [2008]:
def extract_cast(text):
    text = ast.literal_eval(text)
    list=[]
    for i in range(min(len(text),3)):
        list.append(text[i]["name"])
    return list

In [2009]:
df['cast']=df['cast'].apply(extract_cast)

In [2010]:
df.sample().crew.values

array(['[{"credit_id": "52fe45309251416c9102a535", "department": "Directing", "gender": 0, "id": 40864, "job": "Director", "name": "Andrew Bujalski"}, {"credit_id": "52fe45309251416c9102a53b", "department": "Writing", "gender": 0, "id": 40864, "job": "Writer", "name": "Andrew Bujalski"}, {"credit_id": "591d8fc1925141499001f439", "department": "Production", "gender": 0, "id": 1819087, "job": "Producer", "name": "Ethan Vogt"}]'],
      dtype=object)

In [2011]:
def extract_director(text):
    text = ast.literal_eval(text)
    for i in range(len(text)):
        if(text[i]["job"]=="Director"):
            return text[i]["name"]

In [2012]:
df['crew']=df['crew'].apply(extract_director)

In [2013]:
df.sample()

,title,genres,keywords,overview,cast,crew,production_companies,popularity,revenue,runtime,vote_average,original_language
143,Pan,"[Adventure, Family, Fantasy]","[flying, magic, fairy tale, peter pan, mermaid...",Living a bleak existence at a London orphanage...,"[Levi Miller, Garrett Hedlund, Hugh Jackman]",Joe Wright,"[Warner Bros., Moving Picture Company (MPC), B...",48.03528,128388320,111.0,5.9,7

In [2014]:
def combine_words(string_list):
    return [s.replace(" ", "") for s in string_list]

In [2015]:
df['genres']=df['genres'].apply(combine_words)
df['cast']=df['cast'].apply(combine_words)
df['production_companies']=df['production_companies'].apply(combine_words)
df['crew']=df['crew'].str.replace(" ","")

In [2016]:
df.sample()

,title,genres,keywords,overview,cast,crew,production_companies,popularity,revenue,runtime,vote_average,original_language
722,Coraline,"[Animation, Family]","[dream, eye, stuffed animal, parallel world, b...","When Coraline moves to an old house, she feels...","[DakotaFanning, TeriHatcher, JenniferSaunders]",HenrySelick,"[FocusFeatures, LaikaEntertainment]",51.146047,124596398,100.0,7.3,7

In [2017]:
def string_converter(list):
    return " ".join(list)

In [2018]:
df['genres']=df['genres'].apply(string_converter)
df['keywords']=df['keywords'].apply(string_converter)
df['cast']=df['cast'].apply(string_converter)
df['production_companies']=df['production_companies'].apply(string_converter)

In [2019]:
df.sample()

,title,genres,keywords,overview,cast,crew,production_companies,popularity,revenue,runtime,vote_average,original_language
238,Teenage Mutant Ninja Turtles,ScienceFiction Action Adventure Fantasy Comedy,martial arts terrorist hero mutation van turtl...,The city needs heroes. Darkness has settled ov...,MeganFox WillArnett WilliamFichtner,JonathanLiebesman,ParamountPictures NickelodeonMovies PlatinumDunes,143.350376,477200000,101.0,5.8,7

In [2020]:
def combine_string_features(row):
    return ' '.join(str(value) if value is not None else '' for value in row)

df_new=df[['genres','keywords','overview','cast','crew','production_companies']]

In [2021]:
df_new['combine']=df_new.apply(combine_string_features,axis=1)

/var/folders/26/7g66jx1x4mg99_zs0y69gr6h0000gn/T/ipykernel_24136/1231262677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['combine']=df_new.apply(combine_string_features,axis=1)

In [2022]:
df_new.crew.nunique()

2349

In [2023]:
df["combined_text"]=df_new["combine"]

In [2024]:
df.head(2).combined_text.values

array(['Action Adventure Fantasy ScienceFiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. SamWorthington ZoeSaldana SigourneyWeaver JamesCameron IngeniousFilmPartners TwentiethCenturyFoxFilmCorporation DuneEntertainment LightstormEntertainment',
       "Adventure Fantasy Action ocean drug abuse exotic island east india trading company love of one's life traitor shipwreck strong woman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems. JohnnyDepp OrlandoBloom KeiraKnightley GoreVerbinski WaltDisneyPictures JerryBruckheimerFilms SecondMateProductions"],
      dtype=object)

In [2025]:
df.sample()

,title,genres,keywords,overview,cast,crew,production_companies,popularity,revenue,runtime,vote_average,original_language,combined_text
2246,The Cold Light of Day,Action Thriller,kidnapping spying government,A young American uncovers a conspiracy during ...,HenryCavill VerónicaEchegui SigourneyWeaver,MabroukElMechri,SummitEntertainment IntrepidPictures FilmRites...,15.131867,16863583,93.0,4.8,7,Action Thriller kidnapping spying government A...

In [2026]:
df.drop(columns=['genres','keywords','overview','cast','crew','production_companies'],inplace=True)

In [2027]:
df.isnull().sum()

title                0
popularity           0
revenue              0
runtime              2
vote_average         0
original_language    0
combined_text        0
dtype: int64

In [2028]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

# Download NLTK data (only needs to be done once)
nltk.download('punkt')
nltk.download('stopwords')

def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    
    # Remove punctuation and special characters
    text = re.sub(r'[^\w\s]', '', text)
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    
    # Tokenize
    tokens = word_tokenize(text)
    
    # Apply stemming
    stemmer = PorterStemmer()
    stemmed_tokens = [stemmer.stem(word) for word in tokens if word not in stop_words]
    
    # Reconstruct text from stemmed tokens
    processed_text = ' '.join(stemmed_tokens)
    
    return processed_text

[nltk_data] Downloading package punkt to /Users/shivam/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shivam/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2029]:
df['combined_text']=df['combined_text'].apply(preprocess_text)

In [2030]:
df.isnull().sum()

title                0
popularity           0
revenue              0
runtime              2
vote_average         0
original_language    0
combined_text        0
dtype: int64

In [2031]:
df[df['runtime'].isnull()]

,title,popularity,revenue,runtime,vote_average,original_language,combined_text
2658,Chiamatemi Francesco - Il Papa della gente,0.738646,0,NaN,7.3,16,drama pope biographi nan rodrigodelaserna serg...
4145,"To Be Frank, Sinatra at 100",0.050625,0,NaN,0.0,7,documentari music actor legendari perfom class...

In [2032]:
df.dropna(inplace=True)

In [2033]:
df.sample()

,title,popularity,revenue,runtime,vote_average,original_language,combined_text
2943,Tomcats,7.063053,23430766,95.0,4.9,7,comedi romanc compuls gambl roulett stag night...

In [2034]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4807 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              4807 non-null   object
 1   popularity         4807 non-null   float64
 2   revenue            4807 non-null   int64
 3   runtime            4807 non-null   float64
 4   vote_average       4807 non-null   float64
 5   original_language  4807 non-null   int64
 6   combined_text      4807 non-null   object
dtypes: float64(3), int64(2), object(2)
memory usage: 300.4+ KB

In [2035]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity

In [2036]:
df.reset_index(inplace=True)

In [2037]:
df.iloc[803]

index                                                              803
title                                                      DragonHeart
popularity                                                   31.791979
revenue                                                      115267375
runtime                                                          103.0
vote_average                                                       6.4
original_language                                                    7
combined_text        fantasi magic kingdom despot immort villag for...
Name: 803, dtype: object

In [2038]:
df.head(6)

,index,title,popularity,revenue,runtime,vote_average,original_language,combined_text
0,0,Avatar,150.437577,2787965087,162.0,7.2,7,action adventur fantasi sciencefict cultur cla...
1,1,Pirates of the Caribbean: At World's End,139.082615,961000000,169.0,6.9,7,adventur fantasi action ocean drug abus exot i...
2,2,Spectre,107.376788,880674609,148.0,6.3,7,action adventur crime spi base novel secret ag...
3,3,The Dark Knight Rises,112.312950,1084939099,165.0,7.6,7,action crime drama thriller dc comic crime fig...
4,4,John Carter,43.926995,284139100,132.0,6.1,7,action adventur sciencefict base novel mar med...
5,5,Spider-Man 3,115.699814,890871626,139.0,5.9,7,fantasi action adventur dual ident amnesia san...

In [2039]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000)
title=df[['title']]
text_features = df['combined_text']
numerical_features = df[['popularity', 'revenue', 'runtime', 'vote_average','original_language']]
text_vectors = cv.fit_transform(text_features)
scaler = MinMaxScaler()
numerical_scaled = scaler.fit_transform(numerical_features)

In [2040]:
combined_features = np.hstack((title,text_vectors.toarray(), numerical_scaled))

In [2061]:
combined_features

array([['Avatar', 0, 0, ..., 0.47928994082840237, 0.7200000000000001,
        0.19444444444444442],
       ["Pirates of the Caribbean: At World's End", 0, 0, ..., 0.5,
        0.6900000000000001, 0.19444444444444442],
       ['Spectre', 0, 0, ..., 0.4378698224852071, 0.63,
        0.19444444444444442],
       ...,
       ['Signed, Sealed, Delivered', 0, 0, ..., 0.35502958579881655,
        0.7000000000000001, 0.19444444444444442],
       ['Shanghai Calling', 0, 0, ..., 0.28994082840236685,
        0.5700000000000001, 0.19444444444444442],
       ['My Date with Drew', 0, 0, ..., 0.2662721893491124, 0.63,
        0.19444444444444442]], dtype=object)

In [2062]:
df=pd.DataFrame(combined_features)
df.iloc[:,:]

,0,1,2,3,4,5,6,7,8,9,...,4996,4997,4998,4999,5000,5001,5002,5003,5004,5005
0,Avatar,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0.171815,1.0,0.47929,0.72,0.194444
1,Pirates of the Caribbean: At World's End,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.158846,0.344696,0.5,0.69,0.194444
2,Spectre,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.122635,0.315884,0.43787,0.63,0.194444
3,The Dark Knight Rises,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.128272,0.389151,0.488166,0.76,0.194444
4,John Carter,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.050169,0.101916,0.390533,0.61,0.194444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4802,El Mariachi,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.016298,0.000732,0.239645,0.66,0.222222
4803,Newlyweds,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.000734,0.0,0.251479,0.59,0.194444
4804,"Signed, Sealed, Delivered",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.00165,0.0,0.35503,0.7,0.194444
4805,Shanghai Calling,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.000979,0.0,0.289941,0.57,0.194444
4806,My Date with Drew,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.002204,0.0,0.266272,0.63,0.194444

In [2054]:
similarity_matrix = cosine_similarity(df.iloc[:,1:])
similarity_matrix

array([[1.        , 0.08396071, 0.0646824 , ..., 0.08169037, 0.02847767,
        0.00975327],
       [0.08396071, 1.        , 0.07667806, ..., 0.06628779, 0.0129559 ,
        0.03169214],
       [0.0646824 , 0.07667806, 1.        , ..., 0.04635535, 0.01156635,
        0.01068608],
       ...,
       [0.08169037, 0.06628779, 0.04635535, ..., 1.        , 0.05005371,
        0.04451261],
       [0.02847767, 0.0129559 , 0.01156635, ..., 0.05005371, 1.        ,
        0.03198794],
       [0.00975327, 0.03169214, 0.01068608, ..., 0.04451261, 0.03198794,
        1.        ]])

In [2056]:
def recommend(i,similarity_matrix):
    movie_similarity_scores = similarity_matrix[i]
        
        # Get the indices of the top N most similar movies (excluding the movie itself)
    similar_indices = movie_similarity_scores.argsort()[-5-1:-1][::-1]
        
        # Return the recommended movies
    df.iloc[similar_indices][0]

2405            Aliens
4336    Silent Running
838             Alien³
3160             Alien
1533         Moonraker
Name: 0, dtype: object

In [2060]:
movie_list=list(df.iloc[:,0])

In [2066]:
import pickle
pickle.dump(similarity_matrix,open('similarity.pkl','wb'))
pickle.dump(movie_list,open('movie.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))

In [ ]:
import streamlit as st
import pickle
import pandas as pd

# Load the similarity matrix
with open('similarity.pkl', 'rb') as file:
    similarity_matrix = pickle.load(file)

with open('movie.pkl', 'rb') as file:
    movie_list = pickle.load(file)

with open('df.pkl', 'rb') as file:
    df = pickle.load(file)


def recommend(i, similarity_matrix):
    movie_similarity_scores = similarity_matrix[i]

    # Get the indices of the top N most similar movies (excluding the movie itself)
    similar_indices = movie_similarity_scores.argsort()[-5 - 1:-1][::-1]

    # Return the recommended movies
    return df.iloc[similar_indices][0]


# Create a DataFrame for movie_list
df_movies = pd.DataFrame(movie_list, columns=['title'])

# Streamlit app
st.title('Movie Recommendation System')

# Dropdown to select a movie
selected_movie = st.selectbox('Choose a movie:', movie_list)

# Find the index of the selected movie
selected_movie_index = df_movies[df_movies['title'] == selected_movie].index[0]

if st.button('Recommend'):
    # Get recommendations
    st.write(recommend(selected_movie_index,similarity_matrix))

In [2067]:
import joblib

# Save the matrix with joblib
joblib.dump(similarity_matrix, 'similarity_joblib.pkl', compress=3)  # compress level 3

['similarity_joblib.pkl']